@font-face {
  font-family: "Playlist Script";
  src: url("./assets/Playlist-Script.otf") format("opentype");
}

body {
    height: 100vh;
    padding: 25px;
    text-align: center;
    background-color:#fffd48;
    font-family: "Roboto";
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px 10px;
    width: 200px;
    box-shadow: 0px 3px 1px #aaaa;
}

h1 {
    font-size: 60px;
    margin: 5px 0;
}

h2 {
    font-size: 28px;
    margin: 5px 0 25px;
}

.preference-check-section label {
    display: inline-block;
    font-size: 28px;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

input[type="checkbox"]:checked + p {
    box-shadow: inset 0 -5px 0 black;
}

.preference-check-section label p {
    margin: 0;
    padding: 5px;
}

.preference-check-section input[type ="checkbox"] {
    display: none;
}