figure {
    background-image: url("../assets/happyHRpdxMap.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    width: 700px;
    height: 900px;
    margin: 0 auto;
    color: white;
    position: relative;
}
.maplink {
    color: white;
    position: absolute;
}
img{
    height: 30px;
    width: auto; 
}